<div class="row service fadein-delayed">
    <div class="content-wrapper">
        <img class="service-icon" src="img/services_architecture.svg" alt="">
        <div class="content-wrapper">
            <h2 class="subtitle">Architecture</h2>
            <div class="content">
                <p>
                    We also offer assistance with <strong>architecture</strong> on various levels of detail, 
                    whether it be internal application architecture or <strong>distributed</strong> system architecture. We 
                    can help with:
                </p>

                <ul>
                    <li>Structured and <strong>modualized monoliths</strong></li>
                    <li><strong>CQRS</strong></li>                        
                    <li><strong>Event Sourcing</strong></li>
                    <li><strong>Microservices</strong></li>
                    <li>Asynchronous <strong>Messaging</strong></li>
                    <li><strong>Event-driven</strong> Architecture</li>
                </ul>

                <p>
                    We take high inspiration from <strong>Domain-Drive Design</strong> when
                    thinking architecture.
                </p>
            </div>
        </div>
    </div>
</div>
