<div class="row service fadein-delayed">
    <img class="service-icon" src="img/services_development.svg" alt="">
    <div class="content-wrapper">
        <h2 class="subtitle">Development</h2>
        <div class="content">
            <p>
                We are experts in <strong>understanding your business</strong> and converting that into <strong>value 
                adding software in production</strong>. With extensive experience in building software 
                solutions we currently offer:
            </p>
            <ul>
                <li>Custom <strong>.NET and .NET Core</strong> development</li>
                <li><strong>ASP.NET Core</strong> web applications and/or web APIs</li>
                <li><strong>Node.js</strong> web applications and/or web APIs</li>
                <li>Frontend, backend, full stack</li>
                <li>Technical team lead</li>
                <li>Test-Driven Development where possible</li>
                <li>On-Site or <strong>remote</strong> development</li>
            </ul>
        </div>
    </div>
</div>
