<div class="row service fadein-delayed">
    <img class="service-icon right" src="img/services_integration.svg" alt="">
    <div class="content-wrapper">
        <h2 class="subtitle">System Integration and APIs</h2>
        <div class="content">
            <p>
                We offer assistance with <strong>integrating systems</strong> and we do a <strong>case by case</strong> 
                inspection to find the most appropriate solution. We have extensive 
                experience with techniques like:
            </p>

            <ul>
                <li>Designing and implementing <strong>roubust APIs</strong></li>
                <li><strong>API enabling</strong> legacy systems</li>
                <li><strong>REST</strong> APIs (on various maturity levels)</li>
                <li><strong>Contract-First</strong> APIs (using Swagger/OpenAPI specs)</li>
                <li>SOAP</li>
                <li>Asynchronious <strong>Messaging</strong> (via Message Brokers)</li>
                <li><strong>Domain events</strong> design (and implementation)</li>
                <li><strong>Event enabling</strong> legacy systems</li>                        
            </ul>
        </div>
    </div>
</div>
