<div class="row service fadein-delayed">
    <img class="service-icon right" src="img/services_agile.svg" alt="">
    <div class="content-wrapper">
        <h2 class="subtitle">Agile Process</h2>
        <div class="content">
            <p>
                We can facilitate an agile process so your team gets the 
                optimal conditions for delivering value. We offer:
            </p>

            <ul>
                <li><strong>Coaching</strong> existing teams</li>
                <li>Facilitating a <strong>“light-weight” agile</strong> process</li>
                <li>Facilitating a <strong>Kanban and flow-based</strong> process</li>
                <li>Facilitating <strong>SCRUM</strong></li>                        
            </ul>

            <p>
                Our approach is rooted in <strong>eXtreme Programming</strong>.
            </p>
        </div>
    </div>
</div>
