.highlight {

    & + &  {
        padding-top: 0;
    }

    hr {
        margin-top: 1rem;
        // margin-bottom: 4rem;
        width: 20%;
        height: 0.2rem;
    }

    .logos {
        .logo {
            max-width: 20%;
            margin: 1rem;
        }
    }

    & > .container {
        padding-left: 6rem;
        padding-right: 6rem;
    }
}