.highlight {

    &.right {
        .title, .subtitle {
            text-align: right;
        }

        hr {
            margin-left: auto;
            margin-right: 0;
        }
    }

    padding-top: 4rem;
    padding-bottom: 4rem;

    hr {
        margin-top: 1rem;
        margin-bottom: 4rem;
        width: 10%;
        height: 0.2rem;
    }

    .logos {
        .logo {
            max-width: 20%;
            margin: 1rem;
        }
    }
}