@import "effects";
@import "header";
@import "services";
@import "highlights";
@import "expertises";

strong, .title, .subtitle {
    color: inherit;
}

section.section {
    padding-top: 8rem;
    padding-bottom: 8rem;
}

a {
    color: inherit;
}

.content {
    ul > li {
        list-style-type: square;
    }
}