.services {

    padding-bottom: 4rem;

    .service-icon {
        max-width: 50%;
    }

    hr {
        margin-top: 1rem;
        margin-bottom: 4rem;
        width: 10%;
        height: 0.2rem;
        margin-left: auto;
        margin-right: auto;    
    }

    padding-bottom: 8rem;
}