<strong>Monday Works ApS</strong>
<br>Højen 15
<br>3500 Værløse
<br>Denmark
<br>
<br>CVR: 12345678
<br>
<br>Phone: <a href="tel:+4523716810">+45 23716810</a>
<br>E-Mail: <a href="mailto:hello@mondayworks.io">hello@mondayworks.io</a>
<br>Website: <a href="https://mondayworks.io">mondayworks.io</a>