<footer class="footer">
    <div class="container">
        <nav class="level">
            <div class="level-left">
                Copyright &copy; 2018 Monday Works. All rights reserved.
            </div>
            <div class="level-right">
                <div class="buttons">
                    <a class="button is-text" href="#services">Services</a>
                    <a class="button is-text" href="#expertise">Expertise</a>
                    <a class="button is-text" href="#contact">Contact</a>      
                    <a class="button is-text" href="#about">About</a>
                </div>
            </div>
        </nav>
    </div>
    
</footer>
