<section class="section highlight right has-text-weight-light fadein">
    <div class="container">

        <div class="columns">
            <div class="column is-half">
                <p class="subtitle is-size-6 has-text-grey-light">The future is here...and...</p>
                <h1 class="title">It's getting cloudy</h1>

                <hr class="has-background-dark">
            </div>
        </div>

        <div class="columns">
            <div class="column">
                <div class="content">
                    <p>
                        The clouds are not gray and borring - they are exciting and fun!
                    </p>
                    <p>                        
                        Todays projects are often utilizing <strong>the power</strong> of public clouds. 
                        We have many years of experience working with <strong>client projects</strong> 
                        on two of <strong>the biggest public clouds</strong> out there - 
                        <strong>Microsoft Azure</strong> and <strong>AWS</strong>.
                    </p>
                    <p>
                        We can help you if your are <strong>just getting started</strong> with your journey, 
                        or if you are already <strong>deeply invested in the cloud</strong>.
                    </p>
                </div>
            </div>
            <div class="column logos">
                <div class="columns has-text-centered">
                    <div class="column">
                        <img class="logo fadein-left-sync-delayed" src="https://i1.wp.com/buildazure.com/wp-content/uploads/2017/09/Azure.png?resize=519%2C387&ssl=1">
                        <img class="logo fadein-left-sync-delayed" src="https://www.datocms-assets.com/2885/1528219798-aws-blog.png">
                    </div>
                </div>
            </div>            
        </div>
        
    </div>
</section>