<section id="expertise" class="section expertise fadein">
    <div class="container">
        <h1 class="title has-text-centered">Expertise</h1>

        <div class="columns">
            <div class="column">
                <img width="50%" src="img/loop.png">
                <h2 class="subtitle is-4 has-text-centered">Continuous Integration &amp; Continuous Delivery</h2>
                <div class="content">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do 
                        eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </p>

                    <ul>
                        <li>Aenean sed adipiscing diam donec</li>
                        <li>Adipiscing tristique risus</li>
                        <li>Fames ac turpis egestas sed tempus</li>
                    </ul>
                </div>
            </div>
            <div class="column"></div>
            <div class="column"></div>
        </div>

        {{!-- <ul class="expertise-list">
            <li class="expertise fadein-left">
                <img class="expertise-icon" src="img/loop.png">

                <div class="expertise-description">
                        <h3 class="title is-4">Continuous Integration &amp; Continuous Delivery</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <br>
                        <ul>
                            <li>Aenean sed adipiscing diam donec</li>
                            <li>Adipiscing tristique risus</li>
                            <li>Fames ac turpis egestas sed tempus</li>
                        </ul>
                </div>
            </li>
            <li class="expertise fadein-right">
                <img class="expertise-icon" src="https://banner2.kisspng.com/20180401/fce/kisspng-computer-icons-devops-continuous-integration-agile-infinity-5ac0b1b637cfb3.7832387315225778462286.jpg">

                <div class="expertise-description">
                        <h3 class="title is-4">Continuous Integration &amp; Continuous Delivery</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <br>
                        <ul>
                            <li>Aenean sed adipiscing diam donec</li>
                            <li>Adipiscing tristique risus</li>
                            <li>Fames ac turpis egestas sed tempus</li>
                        </ul>
                </div>
            </li>
        </ul> --}}
    </div>
</section>
