{{!-- <section class="section"> --}}
    <div class="container">
        <div class="columns">
            <div class="column">
                <br>
                <br>
                <br>

                <div class="hello-title">hello.</div>
                <p>
                   We are a small software consultancy that help clients improve their business 
                   by using modern software technologies. We also help modernizing current business 
                   critical systems that have become hard and expensive to maintain - while remaining 
                   pragmatic in our approach.
                </p>

                <br />
                <br />

                <button class="button is-primary">Get in touch</button>

                <br>
                <br>
                <br>

                <p class="fadein-slow" style="font-weight: lighter;">...see you <span style="font-style: italic; font-weight: bolder;">monday</span> maybe?</p>

                <br>
                <br>
                <br>
            </div>
            <div class="column">
                <div class="hero-sketches">
                
                    {{> sketch_lightbulb}}
                    {{> sketch_architecture}}
                    {{> sketch_classdiagram}}
                    {{> sketch_spaceship}}
                    {{> sketch_kanban}}

                </div>

            </div>
        </div>
        <div class="has-text-centered">
            <img class="arrow-down" src="img/arrow_down.png" alt="">
        </div>
    </div>
{{!-- </section> --}}
