<section id="services" class="section services has-background-dark has-text-weight-light has-text-centered">
    <div class="container">

        <p class="subtitle is-size-6 has-text-grey">We can help with...</p>
        <h1 class="title has-text-light">Our core areas of service</h1>

        <hr>

        <div class="columns">
            <div class="column has-text-centered has-text-light fadein-left-sync">
                <img class="service-icon" src="img/services_development.svg" alt="">
                <br>
                <br>
                <h2 class="title is-size-5">Software development</h2>
                {{!-- <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, at deserunt. 
                    Officia ducimus libero quidem magni. Natus at, corporis dicta eius a, dignissimos.
                </p> --}}

                <p>
                    We are experts in <strong>understanding your business</strong> and converting that into <strong>value 
                    adding software in production</strong>.
                </p>


            </div>
            <div class="column has-text-centered has-text-light fadein-left-sync">
                <img class="service-icon" src="img/services_integration.svg" alt="">
                <br>
                <br>
                <h2 class="title is-size-5">Integration and APIs</h2>
                {{!-- <p>
                    Architecto quas iusto odit eveniet, dolores distinctio similique recusandae. Soluta 
                    autem quas, inventore aliquam.
                </p> --}}

                <p>
                    We offer assistance with <strong>integrating systems</strong> and we do a <strong>case by case</strong> 
                    inspection to find the most appropriate solution.
                </p>

            </div>
            <div class="column has-text-centered has-text-light fadein-left-sync">
                <img class="service-icon" src="img/services_architecture.svg" alt="">
                <br>
                <br>
                <h2 class="title is-size-5">Architecture</h2>
                {{!-- <p>
                    Quod pariatur id tempore magni ipsum, impedit excepturi! Autem ut voluptas accusantium 
                    voluptatibus, sint eligendi enim quidem earum.
                </p> --}}
                <p>
                    We also offer assistance with <strong>architecture</strong> on various levels of detail, 
                    whether it be internal application architecture or <strong>distributed</strong> system architecture.
                </p>

            </div>
            <div class="column has-text-centered has-text-light fadein-left-sync">
                <img class="service-icon" src="img/services_agile.svg" alt="">
                <br>
                <br>
                <h2 class="title is-size-5">Agile Process</h2>
                {{!-- <p>
                    Amet consectetur adipisicing elit. Mollitia iusto officiis laudantium aut commodi voluptatem 
                    eligendi explicabo sequi labore veritatis repudiandae numquam voluptatum.
                </p> --}}
                <p>
                    We can facilitate an agile process so your team gets the 
                    optimal conditions for delivering value.
                </p>

            </div>
        </div>

    </div>
</section>  