<section class="section highlight right has-text-weight-light">

    <div class="container">

        <div>
            <p class="subtitle is-size-6 has-text-grey-light">The future is here</p>
            <h1 class="title">Look at them clouds</h1>

            <hr class="has-background-dark">
        </div>

        <div class="columns">
            <div class="column logos">
                <div class="columns has-text-centered">
                    <div class="column">
                        <img class="logo" src="https://i1.wp.com/buildazure.com/wp-content/uploads/2017/09/Azure.png?resize=519%2C387&ssl=1">
                        <img class="logo" src="https://www.datocms-assets.com/2885/1528219798-aws-blog.png">
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="content">
                    <p>
                        We are experts in <strong>understanding your business</strong> and converting that into <strong>value 
                        adding software in production</strong>. With extensive experience in building software 
                        solutions we currently offer:
                    </p>
                    <ul>
                        <li>Custom <strong>.NET and .NET Core</strong> development</li>
                        <li><strong>ASP.NET Core</strong> web applications and/or web APIs</li>
                        <li><strong>Node.js</strong> web applications and/or web APIs</li>
                        <li>Frontend, backend, full stack</li>
                        <li>Technical team lead</li>
                        <li>Test-Driven Development where possible</li>
                        <li>On-Site or <strong>remote</strong> development</li>
                    </ul>
                </div>
            </div>
            
        </div>

    </div>

</section>