<section id="about" class="section about fadein">
    <div class="container">
        <h1 class="title has-text-centered">About</h1>

        <div class="columns has-text-weight-light">
            <div class="column">
                <div class="content">
                    <p>
                        <strong>Monday Works</strong> is a small company that offers advisory- and consulting 
                        services around sowftare development. Services are offered either remote (through 
                        online communication tools) or on-site together with clients (primarily in Denmark).
                    </p>

                    <p>
                        The company was founded in 2018 by veteran software engineer Jens Andresen after 
                        more than a decade of constantly chasing <span class="is-italic">a better solution</span> 
                        to the problem at hand.
                    </p>

                    <p>
                        The culture is modern and agile with a heavy focus on craftsmanship and with a profound 
                        respect for the <span class="is-italic">old</span> and often forgotten software 
                        engineering practices.
                    </p>
                </div>
            </div>
            <div class="column is-one-third">
                <div class="content">
                    <strong>Monday Works ApS</strong>
                    <br>Højen 15
                    <br>3500 Værløse
                    <br>Denmark
                    <br>
                    <br><span class="has-text-weight-semibold">CVR: </span>39849356
                    <br>
                    <br><span class="has-text-weight-semibold">E-Mail: </span><a href="mailto:hello@mondayworks.io">hello@mondayworks.io</a>
                    <br><span class="has-text-weight-semibold">Web: </span><a href="https://www.mondayworks.io">mondayworks.io</a>
                </div>
            </div>
        </div>


    </div>
</section>
