<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column">
                <h1 class="title" style="font-size: 6em;">hello.</h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Sed id semper risus in hendrerit gravida rutrum quisque. Posuere morbi leo urna molestie at. Massa sapien
                    faucibus et molestie ac feugiat sed lectus.
                </p>

                <br />
                <br />

                <button class="button is-primary is-large">Get in touch</button>

                <br>
                <br>
                <br>

                <p class="fadein-slow" style="font-weight: lighter;">...see you <span style="font-style: italic; font-weight: bolder;">monday</span> maybe?</p>

            </div>
            <div class="column">
                <img src="https://image.freepik.com/free-vector/professional-programmer-engineer-writing-code_3446-693.jpg" alt="">
            </div>
        </div>
    </div>
</section>
