<section id="about" class="section about has-background-dark fadein">
    <div class="container has-text-white-ter">
        
        <h1 class="title">About</h1>
        <div class="content">
            <p>
                <strong>Monday Works</strong> is a small company that offers advisory- and consulting 
                services around sowftare development. Services are offered either remote (through 
                online communication tools) or on-site together with clients (primarily in Denmark).
            </p>

            <p>
                The company was founded in 2018 by seasoned software engineer Jens Andresen after 
                more than a decade of constantly chasing <span class="is-italic">a better solution</span> 
                to the problem at hand.
            </p>

            <p>
                The culture is modern and agile with a heavy focus on craftsmanship and with a profound 
                respect for the <span class="is-italic">old</span> and often forgotten software 
                engineering practices.
            </p>

        </div>

    </div>
</section>
