<section class="section highlight has-text-weight-light fadein">

    <div class="container">

        <div class="columns">
            <div class="column is-half">
                <p class="subtitle is-size-6 has-text-grey-light">Passionate and professional</p>
                <h1 class="title">We love software development!</h1>

                <hr class="has-background-dark">
            </div>
        </div>

        <div class="columns">
            <div class="column">

                <div class="content">
                    <p>
                        With extensive experience in building software solutions we currently offer:
                    </p>
                    <ul>
                        <li>Custom <strong>.NET and .NET Core</strong> development</li>
                        <li><strong>ASP.NET Core</strong> web applications and/or web APIs</li>
                        <li><strong>Node.js</strong> web applications and/or web APIs</li>
                        <li>Frontend, backend, full stack</li>
                        <li>Technical team lead</li>
                        <li>Test-Driven Development where possible</li>
                        <li>On-Site or <strong>remote</strong> development</li>
                    </ul>
                </div>

            </div>
            <div class="column logos">

                <div class="columns has-text-centered">
                    <div class="column">
                        <img class="logo fadein-left-sync-delayed" src="img/icon_dotnet.svg">
                        <img class="logo fadein-left-sync-delayed" src="img/icon_js.jpg">
                        <br>
                        <img class="logo fadein-left-sync-delayed" src="img/icon_react.png">
                        <img class="logo fadein-left-sync-delayed" src="img/icon_html5.jpg">
                    </div>
                </div>

            </div>
        </div>

    </div>

</section>