<section class="section highlight has-text-weight-light fadein">
    <div class="container">

        <div class="columns">
            <div class="column is-offset-half">
                <p class="subtitle is-size-6 has-text-grey-light">Containers'R'us</p>
                <h1 class="title">Package it up and ship!</h1>

                <hr class="has-background-dark">
            </div>
        </div>

        <div class="columns">
            <div class="column logos">
                <div class="columns has-text-centered">
                    <div class="column">
                        <img class="logo fadein-left-sync-delayed" src="https://www.uio.no/for-ansatte/enhetssider/los/usit/arrangementer/forum/2015/docker.png">
                        <img class="logo fadein-left-sync-delayed" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSMQrgZGefNDIkkkfZgnxLhaWeGjUKi_HT8Im-Ah49Sx_TyzfQ">
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="content">
                    <p>
                        <strong>Docker</strong> and <strong>Kubernetes</strong> are all the rage these 
                        days and <strong>we’ve got you covered!</strong> From the very basics of getting 
                        your feet wet with containers and all the way to running a Kubernetes cluster 
                        <strong>in production</strong>, we can assist you in developing containerized 
                        and modern cloud native applications. We are very excited about these 
                        technologies! So let’s <span class="tag is-light">kubectl apply</span> your manifests 
                        together and <strong>make great things happen!</strong>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>