<section id="services" class="section services has-background-dark">
    <div class="container has-text-white-ter has-text-weight-light">
        <h1 class="title has-text-centered">Services</h1>

        <div>
            <div class="row service fadein-delayed">
                <img class="service-icon" src="img/services_development.svg" alt="">
                <div class="content-wrapper">
                    <h2 class="subtitle">Development</h2>
                    <div class="content">
                        <p>
                            We are experts in <strong>understanding your business</strong> and converting that into <strong>value 
                            adding software in production</strong>. With extensive experience in building software 
                            solutions we currently offer:
                        </p>
                        <ul>
                            <li>Custom <strong>.NET and .NET Core</strong> development</li>
                            <li><strong>ASP.NET Core</strong> web applications and/or web APIs</li>
                            <li><strong>Node.js</strong> web applications and/or web APIs</li>
                            <li>Frontend, backend, full stack</li>
                            <li>Technical team lead</li>
                            <li>Test-Driven Development where possible</li>
                            <li>On-Site or <strong>remote</strong> development</li>
                        </ul>
                    </div>
                </div>
            </div>

            <hr>

            <div class="row service fadein-delayed">
                <img class="service-icon right" src="img/services_integration.svg" alt="">
                <div class="content-wrapper">
                    <h2 class="subtitle">System Integration and APIs</h2>
                    <div class="content">
                        <p>
                            We offer assistance with <strong>integrating systems</strong> and we do a <strong>case by case</strong> 
                            inspection to find the most appropriate solution. We have extensive 
                            experience with techniques like:
                        </p>

                        <ul>
                            <li>Designing and implementing <strong>roubust APIs</strong></li>
                            <li><strong>API enabling</strong> legacy systems</li>
                            <li><strong>REST</strong> APIs (on various maturity levels)</li>
                            <li><strong>Contract-First</strong> APIs (using Swagger/OpenAPI specs)</li>
                            <li>SOAP</li>
                            <li>Asynchronious <strong>Messaging</strong> (via Message Brokers)</li>
                            <li><strong>Domain events</strong> design (and implementation)</li>
                            <li><strong>Event enabling</strong> legacy systems</li>                        
                        </ul>
                    </div>
                </div>
            </div>

        </div>

        <div>

            <hr>
    
            <div class="row service fadein-delayed">
                <div class="content-wrapper">
                    <img class="service-icon" src="img/services_architecture.svg" alt="">
                    <div class="content-wrapper">
                        <h2 class="subtitle">Architecture</h2>
                        <div class="content">
                            <p>
                                We also offer assistance with <strong>architecture</strong> on various levels of detail, 
                                whether it be internal application architecture or <strong>distributed</strong> system architecture. We 
                                can help with:
                            </p>

                            <ul>
                                <li>Structured and <strong>modualized monoliths</strong></li>
                                <li><strong>CQRS</strong></li>                        
                                <li><strong>Event Sourcing</strong></li>
                                <li><strong>Microservices</strong></li>
                                <li>Asynchronous <strong>Messaging</strong></li>
                                <li><strong>Event-driven</strong> Architecture</li>
                            </ul>

                            <p>
                                We take high inspiration from <strong>Domain-Drive Design</strong> when
                                thinking architecture.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <hr>
    
            <div class="row service fadein-delayed">
                <img class="service-icon right" src="img/services_agile.svg" alt="">
                <div class="content-wrapper">
                    <h2 class="subtitle">Agile Process</h2>
                    <div class="content">
                        <p>
                            We can facilitate an agile process so your team gets the 
                            optimal conditions for delivering value. We offer:
                        </p>

                        <ul>
                            <li><strong>Coaching</strong> existing teams</li>
                            <li>Facilitating a <strong>“light-weight” agile</strong> process</li>
                            <li>Facilitating a <strong>Kanban and flow-based</strong> process</li>
                            <li>Facilitating <strong>SCRUM</strong></li>                        
                        </ul>

                        <p>
                            Our approach is rooted in <strong>eXtreme Programming</strong>.
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>