<div class="column expertise fadein-delayed">
    <div class="box has-text-centered">

        <img class="logo" width="20%" src="{{logo}}">
        <h2 class="subtitle is-5"> {{title}} </h2>
        <div class="content has-text-left">
            <p>{{text}}</p>
        </div>

    </div>
</div>