<div class="container">
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="https://mondayworks.io">
                <img src="logo.png" alt="Monday Works Consulting">
            </a>
        </div>

        <div class="navbar-menu">
            <div class="navbar-start">
                <!-- navbar items -->
            </div>
        
            <div class="navbar-end">
                <div class="buttons">
                    <a class="button is-white" href="#about">About</a>
                    <a class="button is-white" href="#expertise">Expertise</a>
                    <a class="button is-white" href="#services">Services</a>
                    <a class="button is-white" href="#contact">Contact</a>      
                </div>
            </div>
        </div>
    </nav>
</div>