<!DOCTYPE html>
<html>
<head>
    {{> google-analytics}}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>mondayworks.io</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{!-- <script src="bundle.js"></script> --}}
</head>
<body>

    {{> header}}

    {{> section-services-new}}

    <div id="highlights"></div>
    {{> section-highlight-development}}
    {{> section-highlight-containers}}
    {{> section-highlight-cloud}}

    {{!-- {{> section-areas-of-expertise}} --}}

    {{> section-contact}}        
    {{> section-about}}

    {{> footer}}

</body>

</html>