<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>mondayworks.io</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{!-- <script src="bundle.js"></script> --}}
</head>

<body>
    <div class="wrapper">

        <header>
            {{> top-menu}}
            {{> section-hero}}
        </header>

        {{> section-services-new}}

        {{> section-highlight-development}}
        {{> section-highlight-cloud}}

        {{> section-areas-of-expertise}}

        {{> section-contact}}        

        {{> section-about}}

        {{> footer}}
    </div>
</body>

</html>