.fadein-slow {
    animation-name: fadein;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-timing-function: ease-in;
    animation-fill-mode: backwards;
}

@keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}

.expertise-list {
    width: 75%;
    margin: auto;
    clear: both;
    margin-top: 50px;
    
    .expertise {

        $icon-margin: 50px;

        // margin-top: 40px;
        clear: both;
        margin-bottom: 100px;

        .expertise-icon {
            width: 150px;
        }
    
        .expertise-description {
            overflow: auto;
        }

        &:nth-child(odd) {
            .expertise-icon {
                float: left;
                margin-right: $icon-margin;
            }
        }
    
        &:nth-child(even) {
            .expertise-icon {
                float: right;
                margin-left: $icon-margin;
            }
        }
    }
}

strong {
    color: inherit;
}

.title, .subtitle {
    color: inherit;
}